[![Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sdoro/notebooks/blob/master/database.ipynb)   [![Binder](http://mybinder.org/badge.svg)](http://mybinder.org/v2/gh/sdoro/notebooks/master?filepath=database.ipynb)

# Esempio

Un hotel mette a disposizione delle stanze, cibo e bevande e vuole registrare quanto spende ogni cliente per ogni categaria di costo in modo tale che quando il cliente lascia l'hotel gli si presenta il conto ragruppato per tutto quello che ha preso.

# Soluzione 1

In questa soluzione c'è una unica tabella Vendite, che ha una riga per ogni cliente e una colonna per ogni categoria di costo. Se un cliente non spende soldi per una categoria, allora non esiste la riga corrispondente.

In [0]:
# to delets sales sql database in case we need to start from scratch
import os
os.remove('S1.db')

In [0]:
# to rewrite/create sales sql database in case we need to start from scratch
open('S1.db', 'w')

In [0]:
# to download a previous file database
from google.colab import files
files.download('S1.db')

In [0]:
# to upload a previous downloaded file
from google.colab import files
uploaded = files.upload()

In [0]:
from google.colab import files
# download a 0 size file
files.download('S1.db')

In [0]:
%%bash
ls -l
rm -f *.db

In [0]:
import sqlite3

db_filename = 'S1.db'
conn = sqlite3.connect(db_filename, timeout=10)

c = conn.cursor()

In [0]:
# costruzione db
c.execute('''CREATE TABLE Vendite (Cliente TEXT,
                                   Alloggio INTEGER, 
                                   Cibo INTEGER,
                                   Bevande INTEGER)''')
conn.commit()

In [0]:
# popolamento
c.execute('''INSERT INTO Vendite (Cliente, Alloggio, Cibo) 
             VALUES ('C35', 162, 75 )''')
c.execute('''INSERT INTO Vendite (Cliente, Cibo, Bevande) 
             VALUES ('C41', 38, 7 )''')
conn.commit()

c.execute('''SELECT * 
             FROM Vendite''')
print(c.fetchall())

# Soluzione 2

In questa soluzione ci sono tre tabelle,  Alloggi, Cibo e Bevande, corrispondenti alle tre categorie di costo e dove ogni ogni tabella ha una riga per un cliente solo se quel cliente ha speso in quella categoria. Le tre tabelle sono:

* Alloggi con colonne Cliente (campo testo) e Costo (campo intero);

* Cibo con colonne Cliente (campo testo) e Costo (campo intero)

* Bevande con colonne Cliente (campo testo) e Costo (campo intero).

In [0]:
import sqlite3

db_filename = 'S2.db'
conn = sqlite3.connect(db_filename, timeout=10)

c = conn.cursor()

In [0]:
# Costruzione db
cmd = 'CREATE TABLE Alloggi (Cliente TEXT, Costo INTEGER)'
c.execute(cmd)
cmd = 'CREATE TABLE Cibo (Cliente TEXT, Costo INTEGER)'
c.execute(cmd)
cmd = 'CREATE TABLE Bevande (Cliente TEXT, Costo INTEGER)'
c.execute(cmd)

In [0]:
# popolamento db
cmd ='''INSERT INTO Alloggi (Cliente, Costo) 
        VALUES ('C35', 162)'''
c.execute(cmd)
c.execute('''SELECT * 
             FROM Alloggi''')
print(c.fetchall())


cmd = "INSERT INTO Cibo (Cliente, Costo) VALUES ('C35', 75)"
c.execute(cmd)
cmd = "INSERT INTO Cibo (Cliente, Costo) VALUES ('C41', 38)"
c.execute(cmd)
c.execute('SELECT * FROM Cibo')
print(c.fetchall())


cmd = "INSERT INTO Bevande (Cliente, Costo) VALUES ('C41', 7)"
c.execute(cmd)
c.execute('SELECT * FROM Bevande')
print(c.fetchall())

# Soluzione 3

In questa soluzione c'è una singola tabella,  di nome Costi, che ha una riga per ogni componente di costo, con una relativa colonna che descrive la categoria di quel costo. La tabella ha dunque una prima colonna di nome Cliente (campo di testo), la seconda colonna di nome Categoria (campo di testo) e la terza colonna Costo (campo intero).

In [0]:
import sqlite3

db_filename = 'S3.db'
conn = sqlite3.connect(db_filename, timeout=10)

c = conn.cursor()

In [0]:
# costruzione db
c.execute('''CREATE TABLE Costi (Cliente TEXT,
                                 Categoria TEXT, 
                                 Costo INTEGER)''')
conn.commit()

In [0]:
# popolamento db
co = [
  ('C35', 'Alloggio', 162),
  ('C35', 'Cibo', 75),
  ('C41', 'Cibo', 38),
  ('C41', 'Bevande', 7)
]


c.executemany('INSERT INTO Costi VALUES (?,?,?)', co)
c.execute('SELECT * FROM Costi')
print(c.fetchall())

In [0]:
# popolamento db
cmd ='''INSERT INTO Costi (Cliente, Categoria, Costo) 
        VALUES ('C35', 'Alloggi', 162)'''
c.execute(cmd)
cmd ='''INSERT INTO Costi (Cliente, Categoria, Costo) 
        VALUES ('C35', 'Cibo', 75)'''
c.execute(cmd)
cmd ='''INSERT INTO Costi (Cliente, Categoria, Costo) 
        VALUES ('C41', 'Cibo', 38)'''
c.execute(cmd)
cmd ='''INSERT INTO Costi (Cliente, Categoria, Costo) 
        VALUES ('C41', 'Bevande', 7)'''
c.execute(cmd)

In [0]:
c.execute('SELECT * FROM Costi')
print(c.fetchall())

In [0]:
conn.commit()
conn.close()