[![Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sdoro/notebooks/blob/master/fiorista.ipynb)   [![Binder](http://mybinder.org/badge.svg)](http://mybinder.org/v2/gh/sdoro/notebooks/master?filepath=fiorista.ipynb)

# Esercitazione 4X - Novembre 2018

Un fiorista registra i prodotti con un id (INTEGER), un nome (TEXT) del fiore, il colore (TEXT), la quantità (INTEGER) o numero di pezzi e infine il prezzo (INTEGER).

### Costruzione del database (Data Definition Language o DDL)

In [0]:
# to delete flowers sql database in case we need to start from scratch
import os
os.remove('fiorista.db')

In [0]:
# to rewrite/create flowers sql database in case we need to start from scratch
open('supermercato.db', 'w')

In [0]:
# to download a previous file database
from google.colab import files
files.download('fiorista.db')

In [0]:
# to upload a previous downloaded file
from google.colab import files
uploaded = files.upload()

In [0]:
from google.colab import files
# download a 0 size file
files.download('fiorista.db')

In [0]:
%%bash
ls -l
#rm -f fiorista.db
#df -h
#mv fiorista.db /content/drive/My\ Drive/Colab\ Notebooks/data

In [0]:
import sqlite3

db_filename = 'fiorista.db'
conn = sqlite3.connect(db_filename, timeout=10)

c = conn.cursor()

In [0]:
# costruzione db
c.execute('''
            CREATE TABLE fiorista (
               id INTEGER,
               nome TEXT,
               colore TEXT,
               quantità INTEGER,
               prezzo  INTEGER,
               PRIMARY KEY (id)
            )
          ''')
conn.commit()

In [0]:
# popolamento
c.execute('''INSERT INTO fiorista VALUES (1, "Cherry Blossam", "pink", 10, 10)''')
c.execute('''INSERT INTO fiorista VALUES (2, "Tulip", "red", 18, 18)''')
c.execute('''INSERT INTO fiorista VALUES (3, "Lilly of the Valley", "white", 10, 12)''')
c.execute('''INSERT INTO fiorista VALUES (4, "Rose", "yellow",20, 30)''')
c.execute('''INSERT INTO fiorista VALUES (5, "Clematis", "purple", 15, 15)''')
c.execute('''INSERT INTO fiorista VALUES (6, " Hydrangea", "pink", 20, 16)''')
c.execute('''INSERT INTO fiorista VALUES (7, " Marigold" , "red", 5, 8)''')
c.execute('''INSERT INTO fiorista VALUES (8, " Lilac", "purple", 30, 20)''')
c.execute('''INSERT INTO fiorista VALUES (9, " Daisy", "white", 50, 10)''')
c.execute('''INSERT INTO fiorista VALUES (10, " Violet", "purple", 25, 12)''')

conn.commit()

In [4]:
c.execute('SELECT * FROM fiorista')
print(c.fetchall())

[(1, 'Cherry Blossam', 'pink', 10, 10), (2, 'Tulip', 'red', 18, 18), (3, 'Lilly of the Valley', 'white', 10, 12), (4, 'Rose', 'yellow', 20, 30), (5, 'Clematis', 'purple', 15, 15), (6, ' Hydrangea', 'pink', 20, 16), (7, ' Marigold', 'red', 5, 8), (8, ' Lilac', 'purple', 30, 20), (9, ' Daisy', 'white', 50, 10), (10, ' Violet', 'purple', 25, 12)]

In [5]:
# usiamo il for e il print per stampare le righe della tabella
c.execute('SELECT * FROM fiorista')
for riga in c:
  print("id: ", riga[0], ", ", end="")
  print("Nome: ", riga[1], ", ", end= "")
  print("Colore: ", riga[2], ", ", end= "")
  print("Quantità: ", riga[3], ", ", end= "")
  print("Prezzo: ", riga[4])

id:  1 , Nome:  Cherry Blossam , Colore:  pink , Quantità:  10 , Prezzo:  10
id:  2 , Nome:  Tulip , Colore:  red , Quantità:  18 , Prezzo:  18
id:  3 , Nome:  Lilly of the Valley , Colore:  white , Quantità:  10 , Prezzo:  12
id:  4 , Nome:  Rose , Colore:  yellow , Quantità:  20 , Prezzo:  30
id:  5 , Nome:  Clematis , Colore:  purple , Quantità:  15 , Prezzo:  15
id:  6 , Nome:   Hydrangea , Colore:  pink , Quantità:  20 , Prezzo:  16
id:  7 , Nome:   Marigold , Colore:  red , Quantità:  5 , Prezzo:  8
id:  8 , Nome:   Lilac , Colore:  purple , Quantità:  30 , Prezzo:  20
id:  9 , Nome:   Daisy , Colore:  white , Quantità:  50 , Prezzo:  10
id:  10 , Nome:   Violet , Colore:  purple , Quantità:  25 , Prezzo:  12

### 1. Visualizzare tutti i dati immessi

In [6]:
c.execute('SELECT * FROM fiorista')
print(c.fetchall())

[(1, 'Cherry Blossam', 'pink', 10, 10), (2, 'Tulip', 'red', 18, 18), (3, 'Lilly of the Valley', 'white', 10, 12), (4, 'Rose', 'yellow', 20, 30), (5, 'Clematis', 'purple', 15, 15), (6, ' Hydrangea', 'pink', 20, 16), (7, ' Marigold', 'red', 5, 8), (8, ' Lilac', 'purple', 30, 20), (9, ' Daisy', 'white', 50, 10), (10, ' Violet', 'purple', 25, 12)]

### 2. Visualizzare solo tutti i nomi dei fiori

In [7]:
c.execute('SELECT nome FROM fiorista ORDER BY nome')
print(c.fetchall())

[(' Daisy',), (' Hydrangea',), (' Lilac',), (' Marigold',), (' Violet',), ('Cherry Blossam',), ('Clematis',), ('Lilly of the Valley',), ('Rose',), ('Tulip',)]

### 3. Visualizzare solo i prezzi superiori a 10 in ordine crescente

In [8]:
c.execute('SELECT prezzo FROM fiorista WHERE prezzo > 10 ORDER BY prezzo')
print(c.fetchall())

[(12,), (12,), (15,), (16,), (18,), (20,), (30,)]

### 4. Visualizzare la quantità massima presente;

In [9]:
c.execute('SELECT MAX(quantità) FROM fiorista')
print(c.fetchall())

[(50,)]

### 5. Visualizzare la somma delle quantità per fascia di prezzo

In [10]:
c.execute('SELECT prezzo, SUM(quantità) FROM fiorista GROUP BY prezzo')
# ci sono due fiori che costano 10 (l'1 e il 9) e 12 (il 3 e il 10)
print(c.fetchall())

[(8, 5), (10, 60), (12, 35), (15, 15), (16, 20), (18, 18), (20, 30), (30, 20)]

### 6. Visualizzare tutti i nomi dei fiori che costano più di 15 in ordine di prezzo

In [11]:
c.execute('SELECT nome FROM fiorista WHERE prezzo > 15 ORDER BY PREZZO')
print(c.fetchall())

[(' Hydrangea',), ('Tulip',), (' Lilac',), ('Rose',)]

In [0]:
conn.commit()
conn.close()