[from](https://github.com/catherinedevlin/ipython-sql)

[this example](https://github.com/catherinedevlin/ipython-sql/blob/master/examples/writers.ipynb)

In [0]:
%load_ext sql

In [0]:
%sql sqlite://

'Connected: @None'

In [0]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [0]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]