In [0]:
# rewrite/create a file
open('Sales.db', 'w')
from google.colab import files
# download a 0 size file
files.download('Sales.db')

In [0]:
# upload (a previous downloaded file)
from google.colab import files
uploaded = files.upload()

In [0]:
import sqlite3

db_filename = 'Sales.db'
conn = sqlite3.connect(db_filename)

In [0]:
c = conn.cursor()

In [0]:
c.execute('CREATE TABLE Employee (Employee_ID INTEGER PRIMARY KEY, First_Name TEXT, Last_Name TEXT, Department TEXT, City TEXT)')

In [0]:
c.execute("INSERT INTO Employee VALUES (10001, 'Daniel', 'Olson', 'Electronics', 'San Francisco')")

In [0]:
c.execute('SELECT * FROM Employee')
print(c.fetchone())

In [0]:
employees = [
  (10002, 'Nick', 'Markmen', 'Clothes', 'San Francisco'),
  (10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'),
  (10004, 'George', 'Wong', 'Clothes', 'San Francisco'),
  (10005, 'Stephanie', 'Williams', 'Clothes', 'Oakland'),
  (10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'),
  (10007, 'Jessica', 'Collins',	'Cosmetics', 'San Francisco'),
  (10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'),
  (10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'),
  (10010, 'Jasmine', 'Khan', 'Pharmacy, Health & Beauty',	'Oakland'),
  (10011, 'Adam',	'Smith', 'Pharmacy, Health & Beauty',	'San Jose'),
  (10012, 'Rachel',	'Kim', 'Electronics', 'San Jose')
]

In [0]:
c.executemany('INSERT INTO Employee VALUES (?,?,?,?,?)', employees)

In [0]:
c.execute('SELECT * FROM Employee')
print(c.fetchall())