[![Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sdoro/notebooks/blob/master/supermercato.ipynb)   [![Binder](http://mybinder.org/badge.svg)](http://mybinder.org/v2/gh/sdoro/notebooks/master?filepath=supermercato.ipynb)

# Esempio

Un supermercato registra i prodotti con un id (INTEGER), un nome (TEXT) del prodotto, la quantità (INTEGER) o numero di pezzi e infine il corridoio (INTEGER) dove è presente il prodotto.

### Costruzione del database (Data Definition Language o DDL)

In [0]:
# to delets sales sql database in case we need to start from scratch
import os
os.remove('supermercato.db')

In [0]:
# to rewrite/create sales sql database in case we need to start from scratch
open('supermercato.db', 'w')

In [0]:
# to download a previous file database
from google.colab import files
files.download('supermercato.db')

In [0]:
# to upload a previous downloaded file
from google.colab import files
uploaded = files.upload()

In [0]:
from google.colab import files
# download a 0 size file
files.download('supermercato.db')

In [0]:
%%bash
ls -l
#rm -f supermercato.db
#df -h
#mv supermercato.db /content/drive/My\ Drive/Colab\ Notebooks/data

In [0]:
import sqlite3

db_filename = 'supermercato.db'
conn = sqlite3.connect(db_filename, timeout=10)

c = conn.cursor()

In [0]:
# costruzione db
c.execute('''CREATE TABLE supermercato (
              id INTEGER,
              nome TEXT,
              quantità TEXT,
              corridoio INTEGER,
              PRIMARY KEY (id))''')
conn.commit()

In [0]:
# popolamento
c.execute('''INSERT INTO supermercato VALUES (1, "Bananas", 4, 7)''')
c.execute('''INSERT INTO supermercato VALUES (2, "Peanut Butter", 1, 2)''')
c.execute('''INSERT INTO supermercato VALUES (3, "Dark Chocolate Bars", 2, 2)''')
c.execute('''INSERT INTO supermercato VALUES (4, "Ice cream", 1, 12);''')
c.execute('''INSERT INTO supermercato VALUES (5, "Cherries", 6, 2)''')
c.execute('''INSERT INTO supermercato VALUES (6, "Chocolate syrup", 1, 4)''')
conn.commit()

c.execute('''SELECT * 
             FROM supermercato''')
print(c.fetchall())

In [0]:
c.execute('SELECT * FROM Costi')
print(c.fetchall())

In [0]:
# usiamo il for e il print per stampare le righe della tabella
c.execute('SELECT * FROM supermercato')
for riga in c:
  print("id: ", riga[0], ", ", end="")
  print("Nome: ", riga[1], ", ", end= "")
  print("Quantità: ", riga[1], ", ", end= "")
  print("Corridoio: ", riga[2])

In [0]:
conn.commit()
conn.close()